@import "../Mixins.scss";

.clients {
  &__container {
    @include fixed-container();
    padding: 80px 0;
    text-align: center;
  }
  &__title {
    @include text(6rem, bold, 7.5rem);
  }
  &__grid {
    @include grid(repeat(4, 1fr), 20px);
    margin-top: 20px;
  }
  &__image {
    width: 150px;
    margin: auto;
  }
  @include for-size(tablet-landscape) {
    &__title {
      font-size: 4rem;
      line-height: 4.9rem;
    }
    &__grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  @include for-size(phone-large) {
    &__grid {
      grid-template-columns: 1fr;
    }
  }
}
